DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
AWS_REGION=ap-south-1
AWS_S3_BUCKET=cms-media-dev
NEXT_PUBLIC_API_URL=http://localhost:1337
